body{
  background-color: #0F0F0F;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.login-bg{
  background-image: url("../media/img/bg.jpg");
  background-image: url("../media/img/bg1.jpg");
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.95) 0%,rgba(0,0,0,0.95) 100%), url("../media/img/bg1.jpg");
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

img{
  max-width: 100%;
}

table{
  background-color: rgba(234, 231, 231, 0.92);
}

table tr{
  cursor: pointer;
}

table tr td:first-child{
  font-weight: bold;
  color: rgb(102, 102, 102);
}

table tr td:nth-child(2),
table tr td:nth-child(3){
  color: rgb(117, 109, 109);
}

.no-padding-right{
  padding-right: 0px;
}

.no-padding-left{
  padding-left: 0px;
}

/* Paginação */
.bottom-nav{}
.bottom-nav .btn-primary{
  width: 100%;
  border-radius: 0px;
  padding: 10px;
  border: none;
  outline: transparent;
}

.bottom-nav .pagination{
  width: 100%;
  margin: 0px;
}

.bottom-nav .pagination > li {
    display: block;
    width: 16.66666666666667%;
    float: left;
}

.bottom-nav .pagination > li > a,
.bottom-nav .pagination > li > span{
  border: none;
  text-align: center;
  padding: 10px;
  width: 100%;
  border-radius: 0px;
}
/* Paginação */

.screens .screen{
  display: none;
}

/* FIRST SCREEN */
.screens .screen:nth-child(1){
  display: block;
}

.loader-container{
  display: none;
  background-color: rgba(0,0,0,.8);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #f0141e; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    top: 50%;
    margin-top: -60px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*
.main{
  display: none;
}
*/

.title{
  margin-top: 20%;
  text-shadow: 0px 0px 3px #666;
}

.title,
.form-container,
.marvel-btn,
#character-description h2,
#character-description h3{
    font-family: 'Russo One', sans-serif;
    color: #fff;
}

.form-container{
  padding: 35px;
  border: 1px solid #292929;
  letter-spacing: 1px;
  min-width: 320px;
  width: 35%;
  margin: 35px auto;
  background-color: rgba(0,0,0,.9);
}

.form-container .marvel-btn{
  margin: 30px auto 0px auto;
}

.form-control{
  border-radius: 0px;
}

.form-group{
  margin-bottom: 15px;
}

.main-table-container{
  margin-top: 18%;
}

.marvel-btn{
    min-width: 120px !important;
    border: 0;
    cursor: pointer;
    background: transparent;
    padding: 0 7px;
    position: relative;
    margin: 10px 1px;
    color: #FFF !important;
    text-transform: uppercase;
    line-height: 47px;
    vertical-align: middle;
    font-size: 15px;
    display: block;
    overflow: visible;
    outline: 0;
}

.marvel-btn span {
    display: block;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    white-space: nowrap;
}

.marvel-btn::before, .marvel-btn::after {
    position: absolute;
    top: 0;
    content: "";
    width: 11px;
    height: 47px;
    -webkit-transform: skew(-11deg,0);
    -ms-transform: skew(-11deg,0);
    transform: skew(-11deg,0);
}

.marvel-btn span, .marvel-btn::before, .marvel-btn::after {
    background-color: #f0141e;
}

.marvel-btn::before {
    left: 3px;
}

.marvel-btn::after {
    right: 3px;
}

.character-info .character-name-container{
  text-align: center;
  padding: 35px 0px;
}

/* THIRD SCREEN */
.top-section, .character-hq-list{
  padding: 35px;
}

.character-hq-list{
  margin-top: 15px;
}

.character-hq-list ul{
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.character-hq-list > ul > li{
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #272727;
}

.character-hq-list ul li:last-child{
  border: none;
}

.character-hq-list .image-holder{
  text-align: center;
  margin: 35px 0px;
}

.image-holder img{
  max-height: 350px;
}

.no-padding{
  padding: 0px;
}

.margin-title h2,
.margin-title h3{
  margin: 0px 0px 10px 0px;
}

{
  margin-top: 35px;
}

.margin-title .hq-title,
.margin-title .cover-number{
  text-align: center;
}


/* THIRD SCREEN */
.back-to-list{
  border: none;
  border-radius: 0px;
  width: 100%;
  text-transform: uppercase;
}

.description{
  color: #666;
  margin-top: 20px;
}

.description ul{
  padding: 0px;
  margin-top: 15px;
  text-align: left;
  padding-left: 20px;
  list-style-type: disc;
}
/* BOOTSTRAP OVERRIDES */
.back-to-list,
.pagination > .disabled.active > a,
.pagination > .disabled.active > a:focus,
.pagination > .disabled.active > a:hover{
  background-color: #FF1824;
  color: #fff;
}

.modal-header{
  background: #800c12;
  color: #fff;
}

.modal-body{
  padding: 25px 15px
}
/* BOOTSTRAP OVERRIDES */
@media only screen and (min-width: 768px){
  .modal-dialog{
    margin: 100px auto;
  }
}


@media only screen and (min-width: 992px){
  .cover-number{
    padding-left: 0px;
  }

  .margin-title .hq-title{
      margin-top: 0px;
  }

  .character-info .character-name-container{
    text-align: left;
    padding: 0px;
  }

  .character-hq-list .image-holder{
    text-align: left;
    margin: 0px;
  }

  .margin-title .hq-title,
  .margin-title .cover-number{
    text-align: left;
  }
}
